<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Encore</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.390349651729-rbam5nu6pulablrmuolqdf8m0fr6ohak</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>encore</string>
				<string>ellegnote</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GIDClientID</key>
	<string>390349651729-rbam5nu6pulablrmuolqdf8m0fr6ohak.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Encore využíva Bluetooth na bezdrôtovú komunikáciu, synchronizáciu tréningových senzorov a zdieľanie dát s partnerom.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Umožňuje zariadeniu fungovať ako Bluetooth periféria pre lokálny prenos tanečných zostáv a pokynov.</string>
	<key>NSCameraUsageDescription</key>
	<string>Encore potrebuje prístup ku kamere na nahrávanie tréningových videí figúr a skenovanie QR kódov zostáv.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Potrebné na rýchle a bezpečné prihlásenie do aplikácie Encore pomocou Face ID.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Encore potrebuje prístup k mikrofónu na nahrávanie hlasových poznámok trénera a zachytenie zvuku k tréningovým videám.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Encore vyžaduje povolenie na ukladanie vygenerovaných QR kódov a tréningových materiálov do knižnice fotiek.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Encore potrebuje prístup ku knižnici fotiek na výber fotografií figúr a profilového obrázku.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Encore využíva rozpoznávanie reči na okamžitý automatický prepis hovorených pokynov trénera do textu.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1a2Jsd2x0dHZyY2RjbG1seXh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMTc5MjYsImV4cCI6MjA5OTc5MzkyNn0.Xq8BKQliVLT7rS2xHn8n_I84tD_rwPSz15AdHp1hcNo</string>
	<key>SUPABASE_URL</key>
	<string>https://iukblwlttvrcdclmlyxu.supabase.co</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
